<PageTitle>@Localizer["AdminLogin"]</PageTitle>

@* I used this for the addition of the arrow on the return button *@
@* https://www.w3schools.com/howto/howto_css_arrows.asp *@

<div>
    <button @onclick="() => Return.InvokeAsync(true)">
        <i class="arrow left"></i>
        @Localizer["Return"]
    </button>
</div>

@if (Cultures != null)
{
    <h2>@Localizer["ChangeLanguage"]</h2>
    <form class="form-inline">
        <select class="form-control mr-2" @bind="SelectedCulture">
            @foreach (var culture in Cultures)
            {
                <option value="@culture.Key">@culture.Value</option>
            }
        </select>
        <button @onclick="() => ChangeCulture(SelectedCulture)">@Localizer["ChangeLanguage"]</button>
    </form>
}

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}
<EditForm Model="LoginRequest" OnValidSubmit="async () => await HandleLogin()" FormName="loginForm" class="login-form">
    <h1>@Localizer["AdminLogin"]</h1>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="username">@Localizer["Username"]:</label>
        <InputText id="username" class="form-control" @bind-Value="LoginRequest.Username" />
    </div>

    <div class="form-group">
        <label for="password">@Localizer["Password"]:</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="LoginRequest.Password" />
    </div>

    <button type="submit">@Localizer["Login"]</button>
</EditForm>
@if (ShowLoading)
{
    <h1 class="centered-heading">@Localizer["Loading"]</h1>
}