@page "/view-tasks"

<h1>@Localizer["ViewTasks"]</h1>

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}

<NavLink class="button-styled-nav-link" href="@($"add-task")">
    <span>@Localizer["AddTask"]</span>
</NavLink>

<div class="content-container">
    <EditForm Model="GetTasksRequest" OnValidSubmit="async () => await SearchTasks()">

        <div>
            <label for="taskId">@Localizer["Task"]:</label>
            <InputNumber @bind-Value="GetTasksRequest.TaskId" id="taskId" />
        </div>

        <div>
            <label for="forVoterId">@Localizer["ForVoter"]:</label>
            <InputNumber @bind-Value="GetTasksRequest.ForVoterId" id="forVoterId" />
        </div>

        <div>
            <label for="forAdminId">@Localizer["ForAdmin"]:</label>
            <InputNumber @bind-Value="GetTasksRequest.ForAdminId" id="forAdminId" />
        </div>

        <div>
            <label for="name">@Localizer["Name"]:</label>
            <InputText @bind-Value="GetTasksRequest.Name" id="name" />
        </div>

        <div>
            <label for="taskStatus">@Localizer["TaskStatus"]:</label>
            <InputSelect @bind-Value="GetTasksRequest.TaskStatus" id="taskStatus">
                <option value="">-- @Localizer["Select"] --</option>
                @foreach (var status in Enum.GetValues(typeof(API.Enums.TaskStatus)).Cast<API.Enums.TaskStatus>())
                {
                    <option value="@status">@status.LocalisedEnumDisplayName(Localizer)</option>
                }
            </InputSelect>
        </div>

        <div>
            <InputSelect @bind-Value="AssignedAdminIdString" id="assignedToAdminId" class="form-control">
                <option value="">@Localizer["Unassigned"]</option>
                <option value="AdminId">@Localizer["Me"]</option>
                @foreach (var admin in Admins)
                {
                    <option value="@admin.AdminId">@admin.DisplayName</option>
                }
            </InputSelect>
        </div>

        <button type="submit">@Localizer["Search"]</button>
    </EditForm>
    <button @onclick=ClearSearch>@Localizer["Clear"]</button>
</div>
@if (Tasks is not null && Tasks.Count() != 0)
{
    <table>
        <tr>
            <th>@Localizer["Task"] ID</th>
            <th>@Localizer["ForVoter"]</th>
            <th>@Localizer["ForAdmin"]</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Description"]</th>
            <th>@Localizer["TaskStatus"]</th>
            <th>@Localizer["CreatedAt"]</th>
            <th>@Localizer["LastEdited"]</th>
            <th>@Localizer["AssignedToAdmin"]</th>
            <th>@Localizer["AdditionalNotes"]</th>
            <th>@Localizer["Action"]</th>
        </tr>
        @foreach (var task in Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.ForVoterId</td>
                <td>@task.ForAdminId</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.TaskStatus.LocalisedEnumDisplayName(Localizer)</td>
                <td>@task.CreatedAt</td>
                <td>@task.LastEdited</td>
                <td>@task.AssignedToAdminId</td>
                <td>@task.AdditionalNotes</td>
                <td>
                    <NavLink class="button-styled-nav-link" href="@($"view-task/taskId={task.Id}")">
                        <span>@Localizer["View"]</span>
                    </NavLink>

                    <button class="button-styled-nav-link" @onclick="async () => await DeleteTask(task.Id)">
                        <span>@Localizer["Delete"]</span>
                    </button>
                </td>
            </tr>
        }
    </table>
}
else if (Tasks is not null && Tasks.Count() == 0)
{
    <div class="content-container">
        @Localizer["NoTasksFound"]
    </div>
}