@page "/view-voters"

<h1>@Localizer["Voters"]</h1>

@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (VotersResult == null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    <div class="content-container">
        <EditForm Model="GetVotersRequest" OnValidSubmit="async () => await SearchCustomers()">
            <div>
                <label for="userId">@Localizer["User"] ID:</label>
                <InputNumber @bind-Value="GetVotersRequest.UserId" id="userId" />
            </div>

            <div>
                <label for="country">@Localizer["Country"]:</label>
                <InputSelect @bind-Value="GetVotersRequest.Country" id="country">
                    <option value="">-- @Localizer["Select"] --</option>
                    @foreach (var country in Enum.GetValues(typeof(CustomerCountry)).Cast<CustomerCountry>().Where(c => c != CustomerCountry.Unknown))
                    {
                        <option value="@country">@country.EnumDisplayName()</option>
                    }
                </InputSelect>
            </div>

            <div>
                <label for="isCandidate">@Localizer["IsCandidate"]:</label>
                <InputSelect @bind-Value="IsCandidateString" id="isCandidate">
                    <option value="">-- @Localizer["Select"] --</option>
                    <option value="true">@Localizer["True"]</option>
                    <option value="false">@Localizer["False"]</option>
                </InputSelect>
            </div>

            <div>
                <label for="isVerified">@Localizer["IsVerified"]:</label>
                <InputSelect @bind-Value="IsVerifiedString" id="isVerified">
                    <option value="">-- @Localizer["Select"] --</option>
                    <option value="true">@Localizer["True"]</option>
                    <option value="false">@Localizer["False"]</option>
                </InputSelect>
            </div>

            <button type="submit">@Localizer["Search"]</button>
        </EditForm>
        <button @onclick=ClearSearch>@Localizer["Clear"]</button>
    </div>
    @if (VotersResult.Count != 0)
    {
        <table>
            <tr>
                <th>ID</th>
                <th>@Localizer["FirstName"]</th>
                <th>@Localizer["FirstName"]</th>
                <th>@Localizer["Country"]</th>
                <th>@Localizer["LastLoggedIn"]</th>
                <th>@Localizer["NewUser"]</th>
                <th>@Localizer["Active"]</th>
                <th>@Localizer["Candidate"]</th>
                <th>@Localizer["Verified"]</th>
                <th>@Localizer["Actions"]</th>
            </tr>
            @foreach (var voter in VotersResult)
            {
                <tr>
                    <td>@voter.UserId</td>
                    <td>@voter.FirstName</td>
                    <td>@voter.LastName</td>
                    <td>@voter.Country.EnumDisplayName()</td>
                    <td>@voter.LastLoggedIn.FormatDateTime()</td>
                    <td>@voter.NewUser</td>
                    <td>@voter.IsActive</td>
                    <td>@voter.IsCandidate</td>
                    <td>@voter.IsVerified</td>
                    <td>
                        <NavLink class="button-styled-nav-link" href="@($"view-voter/userId={voter.UserId}")">
                            <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true">@Localizer["View"]</span>
                        </NavLink>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container-centered">@Localizer["NoVotersFound"]</div>
    }
}
