<PageTitle>@Localizer["Voter"]</PageTitle>

@page "/view-voter/userId={userId:int}"

<h1>@Localizer["Voter"]</h1>

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}
@if (VoterDetails is null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    @if (!IsEditable)
    {
        <div class="content-container profile-data">
            <h2>@Localizer["Voter"] ID: @UserId</h2>
            <div>@Localizer["Name"]: @VoterDetails.FirstName @VoterDetails.LastName</div>
            <div>@Localizer["Email"]: @VoterDetails.Email</div>
            <div>@Localizer["Address"]: @VoterDetails.Address</div>
            <div>@Localizer["DateOfBirth"]: @VoterDetails.DateOfBirth</div>
            <div>@Localizer["Country"]: @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</div>
            <div>@Localizer["IsCandidate"]: @VoterDetails.IsCandidate</div>
            <div>@Localizer["IsActive"]: @VoterDetails.IsActive</div>
            @if (VoterDetails.IsCandidate)
            {
                <div>@Localizer["CandidateName"]: @VoterDetails.CandidateName</div>
                <div>@Localizer["CandidateDescription"]: @VoterDetails.CandidateDescription</div>
            }
            @if (VoterDetails.CurrentIdDocument is null)
            {
                <div>
                    @Localizer["UserNotUploadedId"]
                </div>
            }
            else
            {
                @if (!string.IsNullOrEmpty(VoterDetails.FirstName)
                && !string.IsNullOrEmpty(VoterDetails.LastName)
                && VoterDetails.Country != UserCountry.Unknown)
                {
                    @if (!VoterDetails.IsVerified)
                    {
                        <div>@Localizer["Unverified"] ID:</div>
                    }
                    <DocumentRenderer Document=@VoterDetails.CurrentIdDocument></DocumentRenderer>
                    @if (VoterDetails.CurrentIdDocument.IdRejected is null)
                    {
                        <EditForm Model="VerifyIdRequest" OnValidSubmit="async () => await VerifyId()">
                            @if (VoterDetails.CurrentIdDocument.RejectedByAdminId is null)
                            {
                                <div class="separated">@Localizer["IsThisIdValid"]</div>
                                <InputSelect @bind-Value="VerifyIdRequest.IsRejected">
                                    <option value="false">@Localizer["True"]</option>
                                    <option value="true">@Localizer["False"]</option>
                                </InputSelect>
                                @if (!VerifyIdRequest.IsRejected)
                                {
                                    <div>
                                        @Localizer["SelectVisibleIdExpiryDate"]:
                                        <InputDate @bind-Value="VerifyIdRequest.DocumentExpiryDate" />
                                    </div>
                                }
                                else
                                {
                                    <InputText @bind-Value="VerifyIdRequest.RejectionReason" />
                                }
                                <button type="submit">@Localizer["Submit"]</button>
                            }
                            else
                            {
                                <div class="separated">@Localizer["IdAlreadyBeenReviewed"]</div>
                            }
                        </EditForm>
                    }
                }
                else
                {
                    <div class="separated">@Localizer["UserNeedsToEnterDetails"]</div>
                }
            }
            <button @onclick="() => IsEditable = true">@Localizer["Edit"]</button>
        </div>
    }
    else
    {
        <div class="content-container profile-data">
            <h2>@Localizer["Voter"] ID: @UserId</h2>
            <EditForm Model=UpdateVoterDetailsRequest OnValidSubmit="async () => await UpdateVoterDetails()">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="email">@Localizer["Email"]:</label>
                    <InputText id="email" @bind-Value="UpdateVoterDetailsRequest.Email" />
                </div>

                <div class="form-group">
                    <label for="address">@Localizer["Address"]:</label>
                    <InputText id="address" @bind-Value="UpdateVoterDetailsRequest.Address" />
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">@Localizer["DateOfBirth"]:</label>
                    <InputDate id="dateOfBirth" @bind-Value="UpdateVoterDetailsRequest.DateOfBirth" placeholder=@Localizer["StartDate"] />
                </div>

                <div class="form-group">
                    <label for="email">@Localizer["Password"]:</label>
                    <InputText id="email" @bind-Value="UpdateVoterDetailsRequest.Password" />
                </div>

                <div class="form-group">
                    <label for="firstName">@Localizer["FirstName"]:</label>
                    <InputText id="firstName" @bind-Value="UpdateVoterDetailsRequest.FirstName" />
                </div>

                <div class="form-group">
                    <label for="firstName">@Localizer["LastName"]:</label>
                    <InputText id="firstName" @bind-Value="UpdateVoterDetailsRequest.LastName" />
                </div>

                <div class="form-group">
                    <label for="country">@Localizer["Country"]:</label>
                    <InputSelect id="country" @bind-Value="UpdateVoterDetailsRequest.Country">
                        @foreach (var country in Enum.GetValues(typeof(UserCountry)).Cast<UserCountry>().Where(c => c != UserCountry.Unknown))
                        {
                            <option value="@country">@country.LocalisedEnumDisplayName(Localizer)</option>
                        }
                    </InputSelect>
                </div>

                <div>
                    <label for="isVerified">@Localizer["NewUser"]:</label>
                    <InputSelect @bind-Value="NewUserString" id="isVerified">
                        <option value="">-- @Localizer["Select"] --</option>
                        <option value="true">@Localizer["True"]</option>
                        <option value="false">@Localizer["False"]</option>
                    </InputSelect>
                </div>

                <div>
                    <label for="isVerified">@Localizer["IsVerified"]:</label>
                    <InputSelect @bind-Value="IsVerifiedString" id="isVerified">
                        <option value="">-- @Localizer["Select"] --</option>
                        <option value="true">@Localizer["True"]</option>
                        <option value="false">@Localizer["False"]</option>
                    </InputSelect>
                </div>

                <div>
                    <label for="isVerified">@Localizer["IsCandidate"]:</label>
                    <InputSelect @bind-Value="IsCandidateString" id="isVerified">
                        <option value="">-- @Localizer["Select"] --</option>
                        <option value="true">@Localizer["True"]</option>
                        <option value="false">@Localizer["False"]</option>
                    </InputSelect>
                </div>

                <div>
                    <label for="isActive">@Localizer["IsActive"]:</label>
                    <InputSelect @bind-Value="IsActiveString" id="isActive">
                        <option value="">-- @Localizer["Select"] --</option>
                        <option value="true">@Localizer["True"]</option>
                        <option value="false">@Localizer["False"]</option>
                    </InputSelect>
                </div>

                @if (IsCandidateString.StringToNullableBool() is not null && IsCandidateString.StringToNullableBool() == true)
                {
                    <div class="form-group">
                        <label for="firstName">@Localizer["CandidateName"]:</label>
                        <InputText id="firstName" @bind-Value="UpdateVoterDetailsRequest.CandidateName" />
                    </div>

                    <div class="form-group">
                        <label for="firstName">@Localizer["CandidateDescription"]:</label>
                        <InputText id="firstName" @bind-Value="UpdateVoterDetailsRequest.CandidateDescription" />
                    </div>
                }

                <button @onclick="() => IsEditable = false">@Localizer["Cancel"]</button>
                <button type="submit">@Localizer["Update"]</button>
            </EditForm>
        </div>
    }
}