@page "/view-voter/userId={userId:int}"

<h1>@Localizer["Voter"]</h1>
@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (CustomerDetails is null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    // allow them to mark user as inactive and state they are not eligble to votr, i.e reason
    <div class="content-container profile-data">
        <h2>@Localizer["Voter"] ID: @UserId</h2>
        <div>@Localizer["Name"]: @CustomerDetails.FirstName @CustomerDetails.LastName</div>
        <div>@Localizer["Email"]: @CustomerDetails.Email</div>
        <div>@Localizer["Country"]: @CustomerDetails.Country.EnumDisplayName()</div>
        @if (CustomerDetails.CurrentIdDocument is null)
        {
            <div>
                @Localizer["UserNotUploadedId"]
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(CustomerDetails.FirstName)
            && !string.IsNullOrEmpty(CustomerDetails.LastName)
            && CustomerDetails.Country != CustomerCountry.Unknown)
            {
                @if (!CustomerDetails.IsVerified)
                {
                    <div>@Localizer["Unverified"] ID:</div>
                }
                <DocumentRenderer Document=@CustomerDetails.CurrentIdDocument></DocumentRenderer>
                @if (CustomerDetails.CurrentIdDocument.IdRejected is null)
                {
                    <EditForm Model="VerifyIdRequest" OnValidSubmit="async () => await VerifyId()">
                        @if (CustomerDetails.CurrentIdDocument.RejectedByAdminId is null)
                        {
                            <div class="separated">@Localizer["IsThisIdValid"]</div>
                            <InputSelect @bind-Value="VerifyIdRequest.IsRejected">
                                <option value="false">@Localizer["True"]</option>
                                <option value="true">@Localizer["False"]</option>
                            </InputSelect>
                            @if (!VerifyIdRequest.IsRejected)
                            {
                                <div>
                                    @Localizer["SelectVisibleIdExpiryDate"]:
                                    <InputDate @bind-Value="VerifyIdRequest.DocumentExpiryDate" />
                                </div>
                            }
                            else
                            {
                                <InputText @bind-Value="VerifyIdRequest.RejectionReason" />
                            }
                            <button type="submit">@Localizer["Submit"]</button>
                        }
                        else
                        {
                            <div class="separated">@Localizer["IdAlreadyBeenReviewed"]</div>
                        }
                    </EditForm>
                }
            }
            else
            {
                <div class="separated">@Localizer["UserNeedsToEnterDetails"]</div>
            }
        }
    </div>
}