<PageTitle>@Localizer["ViewTask"]</PageTitle>

@page "/view-task/taskId={taskId:int}"

<h1>@Localizer["ViewTask"]</h1>

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="Errors" />
}
else if (Task is null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    <h1>@Localizer["ViewTask"]</h1>
    <h2>@Localizer["Task"] ID: @Task.Id</h2>
    
    @if (!Editable)
    {
        <div class="content-container profile-data">
            <div>@(Localizer["ForVoterId"] + ": " + (Task.ForVoterId != null ? Task.ForVoterId.ToString() : Localizer["Unassigned"]))</div>
            <div>@(Localizer["ForAdminId"] + ": " + (Task.ForAdminId != null ? Task.ForAdminId.ToString() : Localizer["Unassigned"]))</div>
            <div>@Localizer["Name"]: @Task.Name</div>
            <div>@Localizer["Description"]: @Task.Description</div>
            <div>@Localizer["TaskStatus"]: @Task.TaskStatus.LocalisedEnumDisplayName(Localizer)</div>
            <div>@Localizer["CreatedAt"]: @Task.CreatedAt.FormatDateTime()</div>
            <div>@(Localizer["LastEdited"] + ": " + (Task.LastEdited == null ? Localizer["NotEdited"] : Task.LastEdited.Value.FormatDateTime()))</div>
            <div>@(Localizer["AssignedToAdminId"] + ": " + (Task.AssignedToAdminId != null ? Task.AssignedToAdminId.ToString() : Localizer["Unassigned"]))</div>
            <div>@(Localizer["CreatedByAdminId"] + ": " + (Task.CreatedByAdminId != null ? Task.CreatedByAdminId.ToString() : Localizer["NotCreatedByAdmin"]))</div>
            <div>@Localizer["AdditionalNotes"]:</div>
            <textarea readonly class="mb-2" style="width:100%; border:none; background-color:transparent;">
                @Task.AdditionalNotes
            </textarea>
        </div>

        <button @onclick="() => Editable = true">@Localizer["EditTask"]</button>
    }
    else
    {
        <div class="content-container">
            <EditForm Model="UpdateTaskRequest" OnValidSubmit="async () => await HandleValidSubmit()">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <InputNumber @bind-Value="UpdateTaskRequest.ForVoterId" class="form-control" placeholder="For Voter Id" />
                </div>

                <div class="form-group">
                    <InputNumber @bind-Value="UpdateTaskRequest.ForAdminId" class="form-control" placeholder="For Admin Id" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="UpdateTaskRequest.Name" class="form-control" placeholder="Name" />
                </div>

                <div class="form-group">
                    <InputTextArea @bind-Value="UpdateTaskRequest.Description" class="form-control" placeholder="Description" />
                </div>

                <div class="form-group">
                    <label for="taskStatus">Task Status:</label>
                    <InputSelect @bind-Value="UpdateTaskRequest.TaskStatus" id="taskStatus" class="form-control">
                        @foreach (var status in Enum.GetValues<API.Enums.TaskStatus>())
                        {
                            <option value="@status">@status</option>
                        }
                    </InputSelect>
                </div>

                <div class="form-group">
                    <InputSelect @bind-Value="AssignedAdminIdString" id="assignedToAdminId" class="form-control">
                        <option value="">@Localizer["Unassigned"]</option>
                        <option value="@AdminId">@Localizer["Me"]</option>
                        @foreach (var admin in Admins)
                        {
                            <option value="@admin.AdminId">@admin.DisplayName</option>
                        }
                    </InputSelect>
                </div>

                <div class="form-group">
                    <div>@Localizer["AdditionalNotes"]:</div>
                    <textarea readonly class="mb-2" style="width:100%; border:none; background-color:transparent;">
                        @Task.AdditionalNotes
                    </textarea>
                    <InputTextArea @bind-Value="NewAdditionalNote" id="additionalNotes" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    }
}
