@page "/view-admins"

<h1>@Localizer["ViewAdmins"]</h1>

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}

<NavLink class="button-styled-nav-link" href="@($"add-admin")">
    <span>@Localizer["AddAdmin"]</span>
</NavLink>

<div class="content-container">
    <EditForm Model="GetAdminRequest" OnValidSubmit="async () => await SearchAdmins()">
        <div>
            <label for="adminId">@Localizer["Admin"] ID:</label>
            <InputNumber @bind-Value="GetAdminRequest.AdminId" id="adminId" />
        </div>

        <div>
            <label for="country">@Localizer["Country"]:</label>--
            <InputSelect @bind-Value="GetAdminRequest.Country" id="country">
                <option value="">-- @Localizer["Select"] --</option>
                @foreach (var country in Enum.GetValues(typeof(UserCountry)).Cast<UserCountry>().Where(c => c != UserCountry.Unknown))
                {
                    <option value="@country">@country.LocalisedEnumDisplayName(Localizer)</option>
                }
            </InputSelect>
        </div>

        <div>
            <label for="isActive">@Localizer["IsActive"]:</label>
            <InputSelect @bind-Value="IsActiveString" id="isActive">
                <option value="">-- @Localizer["Select"] --</option>
                <option value="true">@Localizer["True"]</option>
                <option value="false">@Localizer["False"]</option>
            </InputSelect>
        </div>

        <button type="submit">@Localizer["Search"]</button>
    </EditForm>
    <button @onclick=ClearSearch>@Localizer["Clear"]</button>
</div>
@if (Admins.Count() != 0)
{
    <table>
        <tr>
            <th>@Localizer["Admin"] ID</th>
            <th>@Localizer["DisplayName"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Country"]</th>
            <th>@Localizer["LastLoggedIn"]</th>
            <th>@Localizer["IsActive"]</th>
            <th>@Localizer["Action"]</th>
        </tr>
        @foreach (var admin in Admins)
        {
            <tr>
                <td>@admin.AdminId</td>
                <td>@admin.DisplayName</td>
                <td>@admin.Email</td>
                <td>@admin.Country.LocalisedEnumDisplayName(Localizer)</td>
                @if (admin.LastLoggedIn.HasValue)
                {
                    <td>@admin.LastLoggedIn.Value.FormatDateTime()</td>
                }
                else
                {
                    <td>@Localizer["NotLoggedInYet"]</td>
                }
                <td>@admin.IsActive</td>
                <td>
                    <NavLink class="button-styled-nav-link" href="@($"view-admin/adminId={admin.AdminId}")">
                        <span>@Localizer["View"]</span>
                    </NavLink>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="content-container">
        @Localizer["NoAdminsFound"]!
    </div>
}