@page "/view-voter/userId={userId:int}"

<h1>@Localizer["Voter"]</h1>
@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (VoterDetails is null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    // TO DO
    // allow admins to mark voters/candidates as inactive and state they are not eligble to vote + i.e reason, dont allow them to vote or make QR codes then
    <div class="content-container profile-data">
        <h2>@Localizer["Voter"] ID: @UserId</h2>
        <div>@Localizer["Name"]: @VoterDetails.FirstName @VoterDetails.LastName</div>
        <div>@Localizer["Email"]: @VoterDetails.Email</div>
        <div>@Localizer["Country"]: @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</div>
        @if (VoterDetails.CurrentIdDocument is null)
        {
            <div>
                @Localizer["UserNotUploadedId"]
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(VoterDetails.FirstName)
            && !string.IsNullOrEmpty(VoterDetails.LastName)
            && VoterDetails.Country != VoterCountry.Unknown)
            {
                @if (!VoterDetails.IsVerified)
                {
                    <div>@Localizer["Unverified"] ID:</div>
                }
                <DocumentRenderer Document=@VoterDetails.CurrentIdDocument></DocumentRenderer>
                @if (VoterDetails.CurrentIdDocument.IdRejected is null)
                {
                    <EditForm Model="VerifyIdRequest" OnValidSubmit="async () => await VerifyId()">
                        @if (VoterDetails.CurrentIdDocument.RejectedByAdminId is null)
                        {
                            <div class="separated">@Localizer["IsThisIdValid"]</div>
                            <InputSelect @bind-Value="VerifyIdRequest.IsRejected">
                                <option value="false">@Localizer["True"]</option>
                                <option value="true">@Localizer["False"]</option>
                            </InputSelect>
                            @if (!VerifyIdRequest.IsRejected)
                            {
                                <div>
                                    @Localizer["SelectVisibleIdExpiryDate"]:
                                    <InputDate @bind-Value="VerifyIdRequest.DocumentExpiryDate" />
                                </div>
                            }
                            else
                            {
                                <InputText @bind-Value="VerifyIdRequest.RejectionReason" />
                            }
                            <button type="submit">@Localizer["Submit"]</button>
                        }
                        else
                        {
                            <div class="separated">@Localizer["IdAlreadyBeenReviewed"]</div>
                        }
                    </EditForm>
                }
            }
            else
            {
                <div class="separated">@Localizer["UserNeedsToEnterDetails"]</div>
            }
        }
    </div>
}