@using VotingSystem.Components.Pages.Admin
@using VotingSystem.Components.Pages.Voter
@inherits LayoutComponentBase

@* https://www.youtube.com/watch?v=LBByZRhyZ8U *@
@if (!LoggedIn)
{
    @if (!IsAdmin)
    {
        <VoterLoginPage OnLogin="@HandleOnLogin"/>
        <button @onclick="() => IsAdmin = true">@Localizer["AdminLogin"]</button>
    }
    else
    {
        <AdminLoginPage OnLogin="@HandleOnLogin" Return="() => IsAdmin = false" />
    }
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
            @if (!IsAdmin)
            {
                <NavLink class="button-styled-nav-link" href="@($"profile/userId={UserId}")">
                        <span>@Localizer["Profile"]</span>
                </NavLink>
            }
            else
            {
                <NavLink class="button-styled-nav-link" href="@($"admin-profile/userId={UserId}")">
                        <span>@Localizer["Profile"]</span>
                </NavLink>
            }
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}