@using Microsoft.Extensions.Localization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Voting System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
    @if (!ShowAdminNavigation)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-bar-formatting" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="view-elections">
                    <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Localizer["CastAVote"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="view-candidates">
                    <span class="nav-bar-formatting bi-list-nested-nav-menu" aria-hidden="true"></span> @Localizer["ViewCandidates"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="become-candidate">
                    <span class="nav-bar-formatting bi-list-nested-nav-menu" aria-hidden="true"></span> @Localizer["BecomeACandidate"]
            </NavLink>
        </div>

        <div class="nav-bottom-container">
            <div class="nav-item px-3" @onclick="async () => await Logout()">
                <NavLink class="nav-link">
                        <span class="nav-bar-formatting bi-list-nested-nav-menu" aria-hidden="true"></span> @Localizer["Logout"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settings">
                        <span class="nav-bar-formatting bi-list-nested-nav-menu" aria-hidden="true"></span> @Localizer["Settings"]
                </NavLink>
            </div>
        </div>
    }
    else
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-bar-formatting" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-election">
                    <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Localizer["AddElection"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="view-voters">
                    <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Localizer["ViewVoters"]
            </NavLink>
        </div>

        <div class="nav-bottom-container">
            <div class="nav-item px-3" @onclick="async () => await Logout()">
                <NavLink class="nav-link">
                        <span class="nav-bar-formatting bi-list-nested-nav-menu" aria-hidden="true"></span> @Localizer["Logout"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settings">
                        <span class="nav-bar-formatting bi-list-nested-nav-menu" aria-hidden="true"></span> @Localizer["Settings"]
                </NavLink>
            </div>
        </div>
    }
    </nav>
</div>