@page "/view-candidates"
@using VotingSystem.API.Enums
@using VotingSystem.Components.Pages.Shared

<PageTitle>View Candidates</PageTitle>

<h1>View Candidate</h1>

@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (CustomerDetails == null)
{
    <h1><em>Loading...</em></h1>
}
else if (CustomerDetails.Country == CustomerCountry.Unknown)
{
    <div class="warning-container">
        We cannot get candidates in your region as you have not filled out your profile.
    </div>
}
else if (!CustomerDetails.IsVerified)
{
    <div class="warning-container">
        You cannot view candidates yet as you are not verified. Upload ID and wait to become verified.
    </div>
}
else
{
    <h2>Candidates in the @CustomerDetails.Country.EnumDisplayName()</h2>
    @if (Candidates.Count != 0)
    {
        <table>
            <tr>
                <th>Candidate ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Length of Candidacy</th>
                <th>Running In Elections Amount</th>
                <th>Action</th>
            </tr>
            @foreach (var candidate in Candidates)
            {
                <tr>
                    <td>@candidate.CandidateId</td>
                    <td>@candidate.Name</td>
                    <td>@candidate.Description</td>
                    <td>@candidate.StartDateOfCandidacy.GetDateTimeDurationToCurrentDate()</td>
                    <td>@candidate.OngoingEnteredElectionsIds.Count()</td>
                    <td>
                        <NavLink class="button-styled-nav-link" href="@($"view-candidate/candidateId={candidate.CandidateId}")">
                            <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true">View</span>
                        </NavLink>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            There are no candidates on the platform in your area.
        </div>
    }
}