@page "/view-elections"
@using VotingSystem.API.Enums
@using VotingSystem.Components.Pages.Shared

<PageTitle>Cast a Vote</PageTitle>

<h1>Cast a Vote</h1>


@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (CustomerDetails == null)
{
    <h1><em>Loading...</em></h1>
}
else if (CustomerDetails.Country == CustomerCountry.Unknown)
{
    <div class="warning-container">
        We cannot get elections in your region as you have not filled out your profile.
    </div>
}
else if (!CustomerDetails.IsVerified)
{
    <div class="warning-container">
        You cannot cast a vote yet as you are not verified. Upload ID and wait to become verified.
    </div>
}
else
{
    <h2>Ongoing Elections in the @CustomerDetails.Country.EnumDisplayName()</h2>
    @if (OngoingElections.Count != 0)
    {
        <table>
            <tr>
                <th>Election ID</th>
                <th>Election</th>
                <th>Election Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Vote</th>
            </tr>
            @foreach (var election in OngoingElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                    @if (election.HasVoted is not null && election.HasVoted == false)
                    {
                        <td>
                            <NavLink class="button-styled-nav-link" href="@($"view-election/electionId={election.ElectionId}")">
                                <span>Vote Here!</span>
                            </NavLink>
                        </td>
                    }
                    else
                    {
                        <td>You have already voted in this election.</td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            There are no ongoing elections in your area.
        </div>
    }

    <h2>Upcoming Elections in the @CustomerDetails.Country.EnumDisplayName()</h2>
    @if (UpcomingElections.Count != 0)
    {
        <table>
            <tr>
                <th>Election ID</th>
                <th>Election</th>
                <th>Election Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Vote</th>
            </tr>
            @foreach (var election in UpcomingElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            There are no upcoming elections in your area.
        </div>
    }

    <h2>Recently Ended Elections in the @CustomerDetails.Country.EnumDisplayName()</h2>
    @if (PreviousElections.Count != 0)
    {
        <table>
            <tr>
                <th>Election ID</th>
                <th>Election</th>
                <th>Election Description</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            @foreach (var election in PreviousElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            There are no recently ended elections in your area.
        </div>
    }

    <h2>Elections you have voted in</h2>
    @if (VotedInElections.Count != 0)
    {
        <table>
            <tr>
                <th>Election ID</th>
                <th>Election</th>
                <th>Election Description</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            @foreach (var election in VotedInElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            There are no ongoing elections in your area.
        </div>
    }
}