@page "/view-candidate/candidateId={candidateId:int}"
@using VotingSystem.Components.Pages.Shared

<h1>View Candidate</h1>
@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (Candidate == null)
{
    <h1><em>Loading...</em></h1>
}
else
{
    <h2>Candidate ID @Candidate.CandidateId</h2>

    <div class="content-container">
        <div><strong>Name:</strong> @Candidate.Name</div>
        <div><strong>Description:</strong> @Candidate.Description</div>
        <div><strong>Country:</strong> @Candidate.Country</div>
        <div><strong>Start Date of Candidacy:</strong> @Candidate.StartDateOfCandidacy</div>
    </div>

    <h2>Ongoing Entered Elections</h2>
    @if (Elections.Count() != 0)
    {
        <table>
            <tr>
                <th>Election ID</th>
                <th>Election</th>
                <th>Election Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Vote</th>
            </tr>
            @foreach (var election in Elections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                    <td>@election.Country.EnumDisplayName()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>This candidate is not running in any ongoing elections.</p>
    }
}
