@page "/become-candidate"

@* TO DO - ensure every page has a page title *@
<PageTitle>@Localizer["BecomeACandidate"]</PageTitle>

<h1>@Localizer["BecomeACandidate"]</h1>

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}
else if (VoterDetails == null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else if (VoterDetails.Country == UserCountry.Unknown)
{
    <div class="warning-container">
        @Localizer["CannotBecomeCandidateProfile"]
    </div>
}
else if (!VoterDetails.IsVerified)
{
    <div class="warning-container">
        @Localizer["CannotBecomeCandidateUnverified"]
    </div>
}
else if (VoterDetails.IsCandidate)
{
    <div class="content-container">
        @Localizer["AlreadyACandidate"]
    </div>

    <EditForm Model="UpdateCandidateRequest" OnValidSubmit="async () => await HandleUpdateCandidate()" class="edit-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="candidateName">@Localizer["Name"]</label>
            <InputText id="candidateName" @bind-Value="UpdateCandidateRequest.CandidateName" />
        </div>

        <div>
            <label for="candidateDescription">@Localizer["Description"]:</label>
            <InputTextArea id="candidateDescription" @bind-Value="UpdateCandidateRequest.CandidateDescription" placeholder=@Localizer["EnterDescription"] />
        </div>

        <button type="submit">@Localizer["Submit"]</button>
    </EditForm>

    <div>@Localizer["WantToRevokeCandidacy"]</div>
    <button @onclick="async () => await WithdrawCandidacy()" class="withdraw-button">@Localizer["Withdraw"]</button>
}
else {
    <EditForm Model="BecomeCandidateRequest" OnValidSubmit="async () => await HandleValidSubmit()" class="edit-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="candidateName">@Localizer["Name"]</label>
            <InputText id="candidateName" @bind-Value="BecomeCandidateRequest.CandidateName" />
        </div>

        <div>
            <label for="candidateDescription">@Localizer["Description"]:</label>
            <InputTextArea id="candidateDescription" @bind-Value="BecomeCandidateRequest.CandidateDescription" placeholder=@Localizer["EnterDescription"] />
        </div>

        <button type="submit">@Localizer["Submit"]</button>
    </EditForm>
}