<PageTitle>@Localizer["Home"]</PageTitle>

@page "/"
@using VotingSystem.Components.Pages.Admin

@* button that runs an async c# method on click and passes a value*@
@* https://stackoverflow.com/questions/55497072/execute-async-method-on-button-click-in-blazor *@

<h1>@Localizer["Home"]</h1>

@* https://www.youtube.com/watch?v=h82U0RQ9jtQ&t=3914s *@

@if (!IsAdmin)
{
    @if (Errors.Count() > 0)
    {
        <ErrorPopup Errors="@Errors" />
    }
    else if (VoterDetails == null)
    {
        <h1><em>@Localizer["Loading"]</em></h1>
    }
    else
    {
        <h1>@Localizer["Welcome"] @VoterDetails.FirstName.Trim()!</h1>

        @if (!VoterDetails.IsVerified)
        {
            <div class="content-container">
                @if (VoterDetails.NewUser)
                {
                    <div>
                        @Localizer["IntroHowToUse"]
                        <ul>
                            <li>@Localizer["IntroEnterProfileDetails"]</li>
                            <li>@Localizer["IntroUploadValidIdentification"]</li>
                            <li>@Localizer["IntroOnceVerified"]</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div>
                        @Localizer["NoValidId"]
                    </div>  
                }
                <NavLink class="button-styled-nav-link" href="@($"profile/userId={VoterId}")">
                    @if (VoterDetails.NewUser)
                    {
                        <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true">@Localizer["GetStarted"]</span>
                    }
                    else
                    {
                        <span class="nav-bar-formatting bi-plus-square-fill-nav-menu" aria-hidden="true">@Localizer["Profile"]</span>
                    }
                </NavLink>
            </div>
        }
        else
        {
            <h2>@Localizer["Notifications"]</h2>
            <div class="content-container">
                @if(IdExpireyDate is not null && IdExpireyDate < DateTime.Now.AddMonths(3))
                {
                    <div>@Localizer["IdExpiresInThreeMonths"]</div>
                }
                else
                {
                    <div>@Localizer["NoNotifications"]</div>
                }
            </div>

            <h2>@Localizer["OngoingElectionsIn"] @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</h2>
            @if (OngoingElections.Any())
            {
                <table>
                    <tr>
                        <th>@Localizer["Election"] ID</th>
                        <th>@Localizer["Election"]</th>
                        <th>@Localizer["ElectionDescription"]</th>
                        <th>@Localizer["StartDate"]</th>
                        <th>@Localizer["EndDate"]</th>
                        <th>@Localizer["Vote"]</th>
                    </tr>
                    @foreach (var election in OngoingElections)
                    {
                        <tr>
                            <td>@election.ElectionId</td>
                            <td>@election.ElectionName</td>
                            <td>@election.ElectionDescription</td>
                            <td>@election.StartDate.FormatDateTime()</td>
                            <td>@election.EndDate.FormatDateTime()</td>
                            @if (election.HasVoted is not null && election.HasVoted == false)
                            {
                                <td>
                                    <NavLink class="button-styled-nav-link" href="@($"view-election/electionId={election.ElectionId}")">
                                        <span>@Localizer["VoteHere"]!</span>
                                    </NavLink>
                                </td>
                            }
                            else
                            {
                                <td>@Localizer["AlreadyVoted"]</td>
                            }
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="content-container">
                    @Localizer["NoOngoingElections"]
                </div>
            }

            <h2>@Localizer["YourVotes"]</h2>
            @if (VotingHistory.Any())
            {
                <table>
                    <tr>
                        <th>@Localizer["Election"] ID</th>
                        <th>@Localizer["Election"]</th>
                        <th>@Localizer["ElectionDescription"]</th>
                        <th>@Localizer["DateYouVoted"]</th>
                    </tr>
                    @foreach (var vote in VotingHistory)
                    {
                        <tr>
                            <td>@vote.ElectionId</td>
                            <td>@vote.ElectionName</td>
                            <td>@vote.ElectionDescription</td>
                            <td>@vote.VoteDate.FormatDateTime()</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="content-container">
                    @Localizer["NoVotingHistory"]!
                </div>
            }
        }
    }
}
else
{
    <AdminHome/>
}