<PageTitle>@Localizer["Profile"]</PageTitle>

@page "/profile/userId={userId:int}"

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}
else if (VoterDetails == null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    <h1>@Localizer["Profile"]</h1>
    <h2>@Localizer["User"] ID: @UserId</h2>
    @if (!Editable)
    {
        @if ((string.IsNullOrEmpty(VoterDetails.FirstName)
            || string.IsNullOrEmpty(VoterDetails.LastName)
            || VoterDetails.Country == UserCountry.Unknown)
            && CurrentIdDocument is not null 
            && CurrentIdDocument.Id != 0)
        {
            <div class="warning-container">@Localizer["MissingDetails"]</div>
        }
        <div class="content-container profile-data">
            <div>@Localizer["Name"]: @VoterDetails.FirstName @VoterDetails.LastName</div>
            <div>@Localizer["Email"]: @VoterDetails.Email</div>
            <div>@Localizer["Address"]: @VoterDetails.Address</div>
            <div>@Localizer["DateOfBirth"]: @VoterDetails.DateOfBirth</div>
            <div>@Localizer["Country"]: @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</div>
            @if (CurrentIdDocument is null)
            {
                <div>@Localizer["NotVerifiedUploadId"]</div>

                <InputFile id="fileInput" @ref="UploadedIdDocumentFile" OnChange="ShowUploadButton" class="file-uploader" style="display: none;"></InputFile>
                <label class="button-styled-nav-link" for="fileInput" id="fileInputLabel">@Localizer["UploadFile"]</label>

                @if(ShowUpdateButton)
                {
                    <button @onclick="async () => await UploadIdentificationDocument()">@Localizer["Upload"]</button>
                }
            }
            else
            {
                @if (!VoterDetails.IsVerified)
                {
                    @if (CurrentIdDocument.IdRejected is not null && CurrentIdDocument.IdRejected is true)
                    {
                        <div>@Localizer["IdRejected"]</div>
                        <div>@Localizer["IdRejectedReason"]: @CurrentIdDocument.RejectionReason</div>
                        <div>@Localizer["TryDifferentIdForm"]</div>
                    }
                    else if (CurrentIdDocument.IdRejected is null)
                    {
                        <div>@Localizer["IdUploaded"]</div>
                    }
                }
                <DocumentRenderer Document=@CurrentIdDocument></DocumentRenderer>
                @if (CurrentIdDocument.ExpiryDate is not null && CurrentIdDocument.ExpiryDate < DateTime.Now.AddMonths(3))
                {
                    <div class="seperated">@Localizer["IdExpiresInThreeMonth"]</div>
                }
                else if (CurrentIdDocument.IdRejected is not null && CurrentIdDocument.IdRejected is true)
                {
                    <div class="seperated">@Localizer["SubmitAnother"]</div>
                }
                else
                {
                    <div class="seperated">@Localizer["UploadNewId"]</div>
                }

                <InputFile id="fileInput" @ref="UploadedIdDocumentFile" OnChange="ShowUploadButton" class="file-uploader" style="display: none;"></InputFile>
                <label class="button-styled-nav-link" for="fileInput" id="fileInputLabel">@Localizer["UploadFile"]</label>

                @if (ShowUpdateButton)
                {
                    <div class="warning-container">@Localizer["NeedReverifying"]</div>
                    <button @onclick="async () => await UploadIdentificationDocument()">@Localizer["Upload"]</button>
                    <button @onclick="() => CurrentIdDocument = new()">@Localizer["Cancel"]</button>
                }
            }
        </div>

        <button @onclick="() => Editable = true">@Localizer["ChangeDetails"]</button>
    }
    else
    {
         <div class="content-container profile-data">
            <EditForm Model="@UpdateVoterProfileRequest" OnValidSubmit="async () => await HandleUpdateVoterProfile()">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="firstName">@Localizer["FirstName"]:</label>
                    <InputText id="firstName" @bind-Value="UpdateVoterProfileRequest.FirstName" />
                </div>

                <div class="form-group">
                    <label for="lastName">@Localizer["LastName"]:</label>
                    <InputText id="lastName" @bind-Value="UpdateVoterProfileRequest.LastName" />
                </div>

                <div class="form-group">
                    <label for="address">@Localizer["Address"]:</label>
                    <InputText id="address" @bind-Value="UpdateVoterProfileRequest.Address" />
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">@Localizer["DateOfBirth"]:</label>
                    <InputDate id="dateOfBirth" @bind-Value="UpdateVoterProfileRequest.DateOfBirth" placeholder=@Localizer["StartDate"] />
                </div>

                <div class="form-group">
                    <label for="email">@Localizer["Email"]:</label>
                    <InputText id="email" @bind-Value="UpdateVoterProfileRequest.Email" />
                </div>

                <div class="form-group">
                    <label for="password">@Localizer["Password"]:</label>
                    <InputText id="password" @bind-Value="UpdateVoterProfileRequest.Password" />
                </div>

                <div class="form-group">
                    <label for="country">@Localizer["Country"]:</label>
                    <InputSelect id="country" @bind-Value="UpdateVoterProfileRequest.Country">
                        @foreach (var country in Enum.GetValues(typeof(UserCountry)).Cast<UserCountry>().Where(c => c != UserCountry.Unknown))
                        {
                            <option value="@country">@country.LocalisedEnumDisplayName(Localizer)</option>
                        }
                    </InputSelect>
                </div>

                <button @onclick="() => Editable = false">@Localizer["Cancel"]</button>
                <button type="submit">@Localizer["Update"]</button>
            </EditForm>
         </div>
    }
}