<PageTitle>@Localizer["ViewCandidate"]</PageTitle>

@page "/view-candidate/candidateId={candidateId:int}"

<h1>@Localizer["ViewCandidate"]</h1>

@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}
else if (Candidate == null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    <h2>@Localizer["Candidate"] ID @Candidate.CandidateId</h2>

    <div class="content-container">
        <div><strong>@Localizer["Name"]:</strong> @Candidate.Name</div>
        <div><strong>@Localizer["Description"]:</strong> @Candidate.Description</div>
        <div><strong>@Localizer["Country"]:</strong> @Candidate.Country</div>
        <div><strong>@Localizer["CandidacyStartDate"]:</strong> @Candidate.StartDateOfCandidacy</div>
    </div>

    <h2>@Localizer["OngoingEnteredElections"]</h2>
    @if (Elections.Count() != 0)
    {
        <table>
            <tr>
                <th>@Localizer["Election"] ID</th>
                <th>@Localizer["Election"]</th>
                <th>@Localizer["ElectionDescription"]</th>
                <th>@Localizer["StartDate"]</th>
                <th>@Localizer["EndDate"]</th>
                <th>@Localizer["Country"]</th>
            </tr>
            @foreach (var election in Elections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                    <td>@election.Country.LocalisedEnumDisplayName(Localizer)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@Localizer["CandidateNotRunning"]</p>
    }
}
