@page "/view-elections"

<PageTitle>@Localizer["CastAVote"]</PageTitle>

<h1>@Localizer["CastAVote"]</h1>


@if (Errors.Count() > 0)
{
    <ErrorPopup Errors="@Errors" />
}
else if (VoterDetails == null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else if (VoterDetails.Country == UserCountry.Unknown)
{
    <div class="warning-container">
        @Localizer["CannotGetElectionsProfileNotFilled"]
    </div>
}
else if (!VoterDetails.IsVerified)
{
    <div class="warning-container">
        @Localizer["CannotCastVoteNotVerified"]
    </div>
}
else
{
    <h2>@Localizer["OngoingElectionsIn"] @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</h2>
    @if (OngoingElections.Any())
    {
        <table>
            <tr>
                <th>@Localizer["Election"] ID</th>
                <th>@Localizer["Election"]</th>
                <th>@Localizer["ElectionDescription"]</th>
                <th>@Localizer["StartDate"]</th>
                <th>@Localizer["EndDate"]</th>
                <th>@Localizer["Vote"]</th>
            </tr>
            @foreach (var election in OngoingElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                    @if (election.HasVoted is not null && election.HasVoted == false)
                    {
                        <td>
                            <NavLink class="button-styled-nav-link" href="@($"view-election/electionId={election.ElectionId}")">
                                <span>@Localizer["VoteHere"]</span>
                            </NavLink>
                        </td>
                    }
                    else
                    {
                        <td>@Localizer["AlreadyVoted"]</td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            @Localizer["NoOngoingElections"]
        </div>
    }

    <h2>@Localizer["UpcomingElections"] @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</h2>
    @if (UpcomingElections.Any())
    {
        <table>
            <tr>
                <th>@Localizer["Election"] ID</th>
                <th>@Localizer["Election"]</th>
                <th>@Localizer["ElectionDescription"]</th>
                <th>@Localizer["StartDate"]</th>
                <th>@Localizer["EndDate"]</th>
            </tr>
            @foreach (var election in UpcomingElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            @Localizer["NoUpcomingElections"]
        </div>
    }

    <h2>@Localizer["RecentlyEndedElections"] @VoterDetails.Country.LocalisedEnumDisplayName(Localizer)</h2>
    @if (PreviousElections.Any())
    {
        <table>
            <tr>
                <th>@Localizer["Election"] ID</th>
                <th>@Localizer["Election"]</th>
                <th>@Localizer["ElectionDescription"]</th>
                <th>@Localizer["StartDate"]</th>
                <th>@Localizer["EndDate"]</th>
            </tr>
            @foreach (var election in PreviousElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            @Localizer["NoRecentlyEndedElections"]
        </div>
    }

    <h2>@Localizer["ElectionsYouVotedIn"]</h2>
    @if (VotedInElections.Any())
    {
        <table>
            <tr>
                <th>@Localizer["Election"] ID</th>
                <th>@Localizer["Election"]</th>
                <th>@Localizer["ElectionDescription"]</th>
                <th>@Localizer["StartDate"]</th>
                <th>@Localizer["EndDate"]</th>
            </tr>
            @foreach (var election in VotedInElections)
            {
                <tr>
                    <td>@election.ElectionId</td>
                    <td>@election.ElectionName</td>
                    <td>@election.ElectionDescription</td>
                    <td>@election.StartDate.FormatDateTime()</td>
                    <td>@election.EndDate.FormatDateTime()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="content-container">
            @Localizer["NoOngoingElections"]
        </div>
    }
}