@page "/view-election/electionId={electionId:int}"

@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
else if (Election == null)
{
    <h1><em>@Localizer["Loading"]</em></h1>
}
else
{
    //TO DO
    // Add different voting system in, try do 2
    <h1>@Localizer["Election"] ID @Election.ElectionId</h1>

    <div class="content-container">
        <EditForm Model="AddVoterVoteRequest" OnValidSubmit="async () => await HandleValidSubmit()">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <p>@Election.ElectionName</p>
            <p>@Election.ElectionDescription</p>
            <p>@Election.StartDate</p>
            <p>@Election.EndDate</p>
            @if (Election.HasVoted is not null && Election.HasVoted == false)
            {
                foreach (var option in ElectionOptions)
                {
                    <div>
                        <InputCheckbox @bind-Value="option.IsChecked" /> @option.OptionName
                    </div>
                }
                <button type="submit">@Localizer["Submit"]</button>
            }
        </EditForm>
    </div>
}

