@if (Cultures != null)
{
    <h2>@Localizer["ChangeLanguage"]</h2>
    <form class="form-inline">
        @* mr-2 is bootstrap class for margin right 2 px *@
        <select class="form-control mr-2" @bind="SelectedCulture">
            @foreach (var culture in Cultures)
            {
                <option value="@culture.Key">@culture.Value</option>
            }
        </select>
        <button @onclick="() => ChangeCulture(SelectedCulture)">@Localizer["ChangeLanguage"]</button>
    </form>
}

@if (Errors.Any())
{
    <ErrorPopup Errors="@Errors" />
}
@if (!CreateAccount)
{
    <EditForm Model="LoginRequest" OnValidSubmit="async () => await HandleLogin()" FormName="loginForm" class="login-form">
        <h1>@Localizer["Login"]</h1>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="username">@Localizer["Username"]:</label>
            <InputText id="username" class="form-control" @bind-Value="LoginRequest.Username" />
        </div>

        <div class="form-group">
            <label for="password">@Localizer["Password"]:</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="LoginRequest.Password" />
        </div>

        <button type="submit">@Localizer["Login"]</button>

        <div class="form-group">@Localizer["NoAccount"]</div>
        <button @onclick="() => CreateAccount = true">@Localizer["MakeOne"]</button>
    </EditForm>
    @if (ShowLoading)
    {
        <h1 class="centered-heading">@Localizer["Loading"]</h1>
    }
}
else
{
    <VoterRegisterPage OnCreation="@HandleRegister" Return="() => CreateAccount = false"/>
}

<style>
    h1 {
        padding: .5rem;
    }

    .login-form {
        margin: .75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-group {
        padding-top: .5rem;
    }


    button {
        margin: .5rem;
    }

    .centered-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
