@if (Document != null)
{
    @if (Document.MimeType.StartsWith("image/"))
    {
        <img src="@($"data:{Document.MimeType};base64,{Convert.ToBase64String(Document.FileContent)}")" alt="@Document.FileName" />
        @if (Document.ExpiryDate is not null)
        {
            <div>@Localizer["ExpiryDate"]: @Document.ExpiryDate.Value.FormatDateTime()</div>
        }
    }
    else if (Document.MimeType == "application/pdf")
    {
        <embed src="@($"data:{Document.MimeType};base64,{Convert.ToBase64String(Document.FileContent)}")" type="application/pdf" width="100%" height="600px" />
    }
}

<style>
    img {
        width: 300px;
        height: 225px;
        padding-top: .5rem;
    }
</style>