<PageTitle>@Localizer["Settings"]</PageTitle>

@page "/settings"

<h1>@Localizer["Settings"]</h1>

@if (Cultures != null)
{
    <h2>@Localizer["ChangeLanguage"]</h2>
    <form class="form-inline">
        <select class="form-control mr-2" @bind="SelectedCulture">
            @foreach (var culture in Cultures)
            {
                <option value="@culture.Key">@culture.Value</option>
            }
        </select>
        <div class="warning-container">@Localizer["WillBeLoggedOutError"]</div>
        <button @onclick="() => ChangeCulture(SelectedCulture)">@Localizer["ChangeLanguage"]</button>
    </form>
}